{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <a href="{{ path('app_default') }}">Home</a>
    <h1>Order index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('order_new', {'id': product.id}) }}">Create new</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
